node_modules/
db-data/
logs/
public/uploads/sjp-statuss/*
public/uploads/claim-pallets/*
public/uploads/*
.env.example
.env
.gitignore
.dockerignore
docker-compose
docker-compose.yml
Dockerfile
Dockerfile.bck
swagger.json.bck
